<%- include("./partials/head.ejs") %>
<body class="">
    <h1>The Auth </h1> <br/>
    click here to <a href="/login">Login</a> or <a href="/register">Register</a>

    <div class="">
     
        <a href="/dashboard">Dashboard - Unprotected route</a> <br/>
        <a href="/route1">route1 - Protected route</a> <br/>
        <a href="/logout">logout</a> <br/>

    </div>

</body>