<%- include("./partials/head.ejs") %>
<body>
    <h1>Login</h1>

    <form action="/login" method="POST">

        <input type="text" name="nameUsername" placeholder="Username">
        <input type="email" name="nameEmail" placeholder="Email">
        <input type="password" name="namePassword" placeholder="Password">
        
        Submit - <input type="submit">
    </form> 

</body>